<nav class="col span_10 top-navbar">
  {% for link in site.data.links %}
  <a href="{{ link.url }}" title="{{ link.title }}"
     {% if page.title == link.title %}class="current-page"{% endif %}>{{ link.title }}</a>
  {% endfor %}
</nav>
<div style="width:130px;float:right;margin-left:20px;">
<a href="https://f-droid.org/app/org.sufficientlysecure.keychain">
<img src="{{site.baseurl}}/public/images/fdroid.png" width="129" height="45" style="margin-bottom:0px;" />
</a>
<a href="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain">
<img src="{{site.baseurl}}/public/images/google_play.png" width="129" height="45" style="margin-bottom:0px;" />
</a>
</div>