<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container ok">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="{{ site.url }}" id="logo" title="{{ site.data.brume.name }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>
          <a href="/about/imprint">Imprint</a>
        </p>
      </footer>
    </div>

    <!-- scripts -->
    <!-- old: http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js -->
    <script src="{{site.baseurl}}/public/js/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>

    <script src="{{site.baseurl}}/public/cointipper/dist/js/jquery.cointipper-pack.js"></script>
    <script>
        $(function() {
            $('#donate-bitcoin').coinTipper({
                type: 'tip',
                currency: 'bitcoin',
                iso: 'BTC',
                address: '1JZfAKTbTU5LJTkDELhPUF4Xa6VstEZgz6',
                label: 'OpenKeychain'
            });
        });
    </script>

  </body>
</html>
